 #shop {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: auto;
    padding: 100px 10px 0px 10px;
    gap: 10px 10px; 
    font-family: 'Times New Roman', Times, serif;
    grid-template-areas: 
        "a b c d";         
}
 #shop > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    justify-content: center;
    overflow: hidden;
 }
 /* #shop > div:nth-child(1)
{
    grid-area: a;
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; 
}
#shop > div:nth-child(2) {
    grid-area: b;
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px; 

}
#shop > div:nth-child(3) {
    grid-area: c;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(4) {
    grid-area: d;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(5) {
    grid-area: e;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(6) {
    grid-area: f;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(7) {
    grid-area: g;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(8) {
    grid-area: h;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(9) {
    grid-area: i;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#shop > div:nth-child(10) {
    grid-area: j;
    padding: 15px; 
    border: 1px solid gainsboro; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


#shop > div img {
    width: auto;
    height: 220px;
    transition: transform 0.8s ease;
    border-radius: 10px;
}
#shop > div img:hover {
    transform: scale(1.08);
}
#shop > div h2 {
    padding: 5px;
    font-size: 30px;
    color: #333;
    margin: 0px;
}
#shop > div p {
    margin: 10px;
    font-size: 25px;
}
#shop > div input[type="button"] {
    margin-top: 10px;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

strike
{
    font-size: 15px;
    color: red;
}

@media (max-width: 768px) {
    #shop {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-template-areas: 
            "a b"
            "c d"; 
    }
    #shop > div h2 {
        font-size: 20px;
    }

    #shop > div p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    #shop {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: 
            "a b"
            "c d";
    }
    #shop > div img {
       width: 150px;
       height: 150px;
       border-radius: 8px;
    }


    #shop > div p {
        font-size: 20px;
    }

    #shop > div input[type="button"] {
        padding: 8px 30px; 
        font-size: 14px;
    }
    #shop >div h2
    {
        font-size: 20px;
    }

    strike {
        font-size: 14px; 
    }
} 

